<nav class="navbar navbar-expand-lg">
  <li class="navbar-brand">Eua Claire's</li>

  <ul class="navbar-nav ml-auto">
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Stylists", "Index", "Stylists")
    @Html.ActionLink("Clients", "Index", "Clients")
  </ul>
  </ul>
  </div>
</nav>