@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.Name): </p>
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>